<div class="page" data-ng-controller="ReqsController">
    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> 植书申请</strong></div>
        <div class="panel-body padding-lg">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>手机号</th>
                        <th>姓名</th>
                        <th>书籍名称</th>
                        <th>书籍作者</th>
                        <th>出版社</th>
                        <th>ISBN</th>
                        <th>申请日期</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="item in reqs">
                        <td>{{item.mobile}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.bookName}}</td>
                        <td>{{item.bookAuthor}}</td>
                        <td>{{item.bookPress}}</td>
                        <td>{{item.bookIsbn}}</td>
                        <td>{{item.createdDate}}</td>
                        <td>
                            <button ng-click="approval(item)">通过</button>
                            <button ng-click="reject(item)">拒绝</button>
                            <button ng-click="goEditReq(item)">编辑</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
